* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background: #fff;
    font: 14px/20px Helvetica;
    color: #555;
    margin: 0;
}

.mobile-info {
    padding: 15px;
    background-color: #bbd8c4;
    margin-top: 30px;
}

.mobile-info h3,
.mobile-info p {
    width: 80%;
}

#menu-icon {
    display: none;
    width: 40px;
    height: 40px;
    background: url(images/menu-icon.png);
    padding-right: 48px;
    background-position: 0px -15px;
}

a.loginButton {
    display: inline-block;
    height: 35px;
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background-color: #650360;
    font-weight: bold;
    box-sizing: border-box;
    padding-top: 5px;
    float: right;
    margin-bottom: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff text-decoration: underline;
}

header {
    background: #328fc2;
    width: 100%;
    height: 46px;
    top: 0;
    left: 0;
    z-index: 100;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.container {
    width: 960px;
    margin: 0 auto;
}

#logo {
    float: left;
    width: 45px;
    height: 45px;
    background: url(images/logo.png) no-repeat center;
    color: #1c264a;
    text-indent: 55px;
    box-sizing: border-box;
    padding-top: 15px;
    font-size: 24px;
    font-family: futura;
}

#main-content {
    margin-top: 40px;
}

#leftColumn {
    width: 73%;
    float: left;
    height: auto;
}

#rightColumn {
    width: 23%;
    float: right;
    margin-right: 10px;
}

.topBlock h1 {
    color: #650360;
    font-size: 36px;
    font-weight: 100;
    line-height: normal;
    margin-bottom: 20px;
}

.topBlock h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.topBlock a {
    color: #328fc2;
    text-decoration: underline;
}

.bottomBlock {
    margin-top: 40px;
}

.bottomBlock span {
    font-size: 28px;
    display: inline-block;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
}

.bottomBlock span.rates {
    font-weight: 400;
    padding-left: 15px;
    border-left: 1px solid #000;
}

nav {
    float: right;
    font-size: 16px;
}

ul {
    list-style: none;
}

ul.awesomeness {
    list-style: disc;
    margin-left: 15px;
}

nav ul li {
    display: inline-block;
    float: left;
    padding: 13px 15px;
}

li.current:hover {
    color: #fff;
    font-weight: bold;
    background-color: #006899;
}

.mobile-info {
    padding-top: 15px;
    position: relative;
}

.mobile-info h2 {
    color: #650360;
    font-size: 16px;
}

.mobile-info img {
    position: absolute;
    right: 25px;
    bottom: 15px;
}

.clear {
    clear: both;
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-top: 20px;
}

ul.tabs li {
    background: none;
    color: #328fc2;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #ddebe1;
    border: 1px solid #cccccc;
    font-size: 18px;
    font-weight: 100;
}

li.tab-link.tab2 {
    padding-right: 20px;
    margin-left: -4px;
}

ul.tabs li.current {
    background: #ededed;
    color: #505050;
    border-bottom: 1px solid #ededed;
    border-left: none;
    padding-top: 20px;
}

.tab-content {
    display: none;
    background: #ededed;
    padding: 15px;
}

.tab-content.current {
    display: inherit;
}

.tab-content li {
    color: #328fc2;
    font-size: 16px;
    font-weight: bold;
    line-height: 2em;
}

.tab-content ul div {
    margin-bottom: 15px;
}

.tab-link.current {
    font-weight: bold;
}

.modalDialog {
    position: fixed;
    font-family: Helvetica;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    height: auto;
    position: relative;
    margin: 10% auto;
    padding: 15px 25px;
    background: #fff;
    background: #fff
}

.close {
    position: absolute;
    right: 15px;
    top: 15px;
}

#openModal {
    display: none;
}

#openModal h2 {
    font-size: 28px;
    font-weight: 100;
    line-height: normal;
    margin: 10px 0;
}

#openModal input {
    border: 1px solid #328fc2;
    height: 35px;
    width: 300px;
    margin: 10px 0;
}

label {
    width: 75px;
    display: inline-block;
}

table {
    width: 100%;
    margin-top: 20px;
}

td {
    padding: 10px;
}

tr:nth-child(even) {
    background: #eef5f0;
}

tr:nth-child(odd) {
    background: #ddebe1;
}

tr.headerRow {
    background-color: #fff;
}

tr.headerRow th {
    font-size: 12px;
    font-weight: 100;
    color: #505050;
    text-align: right;
    padding-bottom: 5px;
}

tr {
    cursor: pointer;
}

tr:hover {
    font-weight: bold;
}

td.data-2,
td.data-3 {
    text-align: right;
}

.headerRow th:nth-child(2) {
    padding-right: 10px;
}

span.tableLegend {
    font-size: 12px;
    float: right;
    padding-right: 0;
}

footer {
    background: #e7e8e9;
    width: 100%;
    height: 100px;
    color: #328fc2;
}

footer li a {
    color: #328fc2;
}

footer li a:hover {
    font-weight: bold;
}

footer nav li {
    padding-top: 20px;
}

footer span {
    padding-top: 20px;
    display: inline-block;
}
 #openModal .modalContainer .resp_login{
        width: 135px;
        float: right;
        padding-right: 20px;
        padding-top: 15px;
    }

/********************/


/*  Media Query     */


/********************/

@media screen and (max-width: 959px) {
    .container {
        width: 100%;
    }
    #main-content {
        padding-left: 10px;
        padding-right: 5px;
    }
}

@media screen and (max-width: 810px) {
    #leftColumn,
    #rightColumn {
        width: 100%;
        display: block;
    }
    #main-content {
        padding-left: 0;
        padding-right: 0;
    }
    .topBlock,
    .bottomBlock {
        padding-left: 10px;
        padding-right: 10px;
    }
    #rightColumn {
        margin-right: 0;
    }
    header nav ul,
    nav:active ul {
        display: block;
        position: absolute;
        padding: 20px;
        background: #405580;
        border: 1px solid #fff;
        right: 0px;
        top: 46px;
        width: 130px;
        display: none;
    }
    #menu-icon {
        display: inline-block;
    }
    .bottomBlock span {
        font-size: 24px;
    }
    tr.headerRow th {
        text-align: center;
    }
    td.data-2,
    td.data-3 {
        text-align: center;
    }
    span.tableLegend {
        font-size: 12px;
    }
    #rightColumn .resp_login{
        margin: 0 10px;
    }
    .modalDialog > div {
        width: auto;
        margin: 10% 2%;
    }
    #openModal input {
        width: 100%;
    }
    #openModal .modalContainer .resp_login{
        width: 135px;
        float: right;
        padding-right: 0px;
        padding-top: 10px;
    }
    footer{
        height: 100%;
    }
    footer span{
        display: block;
        text-align: center;
        padding-bottom: 10px;
    }
    footer nav ul li {
        float: none;
    }
    footer nav ul{
        text-align: center;
    } 
    footer nav li{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    footer nav{
        float: none;
    }
}
@media screen and (max-width: 374px){
    footer ul{
        font-size: 13px;
    }
}
@media screen and (max-width: 568px){
    footer ul{
        font-size: 11px;
    }
}